# MENA Analysis: Urban Density
## 2000 -2020

### Load packages and setup

In [16]:
import geopandas as gpd
import pandas as pd
import numpy as np
from rasterstats import zonal_stats
import rasterio
import rioxarray
import xarray

In [46]:
# Define directories
dir_shp = '/Users/ashitakarl/Library/CloudStorage/Dropbox/WB/MENA_WorldBank/Boundaries/'
dir_in = '/Users/ashitakarl/Desktop/Project/WB/MENA/ECMRWF/'
dir_out = '/Users/ashitakarl/Library/CloudStorage/Dropbox/WB/MENA_WorldBank/Index/'

# Define output FILE
VAR = 'URBAN_'
YEAR_LIST = [2000, 2005, 2010, 2015, 2020]
FILE_OUT = 'ADM2_' + VAR + str(min(YEAR_LIST)) + '_' + str(max(YEAR_LIST)) + '.csv'

In [4]:
%matplotlib inline

### Load shapefile

In [25]:
# Load shapefile
MENA_shp = gpd.read_file(dir_shp + 'MENA_ADM2.shp')

MENA_shp.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

### Load urban density rasters

for YEAR in YEAR_LIST:
    xds = xarray.open_dataset(dir_in + str(YEAR) + '.nc')
    xds["lccs_class"].rio.write_crs("EPSG:4326", inplace = True)
    xds["lccs_class"].rio.to_raster(dir_in + str(YEAR) + '.tif')

df_full = pd.DataFrame(MENA_shp['ID_ADM'])

for YEAR in YEAR_LIST:
    with rasterio.open(dir_in + str(YEAR) + '.tif') as raster:
        array = raster.read(1)
        affine = raster.transform
        nodata = raster.nodata

    #MENA_shp.to_crs(raster.crs, inplace = True)

    # Extract raster by polygon
    dict_temp = zonal_stats(MENA_shp, array, affine = affine, nodata = nodata,
                          stats = ['count'], categorical = True)
    df_temp = pd.DataFrame(dict_temp)
    df_temp = df_temp.add_prefix(VAR)
    if 'URBAN_190' in df_temp.columns:
        df_temp['URBAN'] = df_temp['URBAN_190']
    else:
        df_temp['URBAN'] = 0
    df_temp = df_temp[['URBAN', 'URBAN_count']]
    df_temp['URBAN_DEN'] = (df_temp['URBAN'] / df_temp['URBAN_count']) * 100
    df_temp = df_temp.add_suffix('_' + str(YEAR))
    df_temp.insert(0, 'ID_ADM', MENA_shp['ID_ADM'])
    
    df_full = df_full.merge(df_temp, how = 'left', on = 'ID_ADM')

In [41]:
df_full = df_full[['ID_ADM', 'URBAN_2000', 'URBAN_DEN_2000', 'URBAN_2005', 'URBAN_DEN_2005',
                  'URBAN_2010', 'URBAN_DEN_2010', 'URBAN_2015', 'URBAN_DEN_2015', 
                  'URBAN_2020', 'URBAN_DEN_2020', 'URBAN_count_2000']]

df_full.rename(columns = {'URBAN_count_2000': 'URBAN_ttl_pixel'})

,ID_ADM,URBAN_2000,URBAN_DEN_2000,URBAN_2005,URBAN_DEN_2005,URBAN_2010,URBAN_DEN_2010,URBAN_2015,URBAN_DEN_2015,URBAN_2020,URBAN_DEN_2020,URBAN_ttl_pixel
0,37631,70.0,0.852204,70.0,0.852204,70.0,0.852204,70.0,0.852204,120.0,1.460920,8214
1,37632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19609
2,37633,58.0,0.034075,68.0,0.039949,69.0,0.040537,72.0,0.042299,112.0,0.065799,170215
3,37634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35940
4,37635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1376325
...,...,...,...,...,...,...,...,...,...,...,...,...
2932,15561,640.0,1.392940,831.0,1.808645,1061.0,2.309233,1314.0,2.859879,1430.0,3.112349,45946
2933,15562,165.0,0.008627,246.0,0.012862,424.0,0.022168,611.0,0.031946,736.0,0.038481,1912625
2934,15563,57.0,0.127130,284.0,0.633420,516.0,1.150861,981.0,2.187974,1268.0,2.828085,44836
2935,15564,75.0,0.022481,86.0,0.025778,135.0,0.040465,204.0,0.061147,244.0,0.073137,333620
2936,15565,49.0,0.158874,228.0,0.739252,365.0,1.183451,656.0,2.126970,763.0,2.473899,30842

In [43]:
df_full.fillna(0, inplace=True)

In [47]:
df_full.to_csv(dir_out + FILE_OUT, index = False)